.navbar {
  margin: auto;
  color: #eeecec;
  padding: 1rem 2rem;
}

.navbar-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-content .back {
  width: 25px;
  height: 30px;
}

.name {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 30px;
}

.navbar-content .name {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
  -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

a {
  text-decoration: none;
}

.navbar-content a {
  color: #eeecec;
  font-size: 1.25rem;
}

.navbar-content .adds {
  width: 15%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero {
  position: relative;
}

.hero::before {
  content: ' ';
  width: 100px;
  height: 100px;
  background-color: rgba(121, 33, 148, 0.829);
  top: 90%;
  left: 0;
  border-radius: 50%;
  -webkit-filter: blur(70px);
  filter: blur(70px);
  z-index: -1;
  position: absolute;
}

.hero::after {
  content: ' ';
  width: 150px;
  height: 150px;
  background-color: rgba(17, 107, 103, 0.384);
  top: 150%;
  right: 0;
  border-radius: 50%;
  -webkit-filter: blur(100px);
  filter: blur(100px);
  z-index: -1;
  position: absolute;
}

.hero-content {
  display: -webkit-box;
  display: flex;
}

.hero-img {
  margin: 2rem auto;
  height: 300px;
  width: 100vw;
}

.search-form {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 1.5fr;
  grid-template-columns: 8fr 1.5fr;
}

.search {
  background-color: rgba(22, 22, 22, 0.4);
  border: none;
  color: #eeecec;
  padding: 0.9rem;
}

.search-input {
  font-size: 0.9rem;
}

.search-input::-webkit-input-placeholder {
  color: #eeecec;
}

.search-input::-ms-input-placeholder {
  color: #eeecec;
}

.search-input:-ms-input-placeholder {
  color: #eeecec;
}

.search-input::placeholder {
  color: #eeecec;
}

.search-btn {
  width: 100%;
}

.search-btn .s-icon {
  height: 20px;
}

.search-btn span {
  display: none;
}

.stock-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 1rem 10px;
}

.stock-list li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(22, 22, 22, 0.4);
  height: 100%;
  padding: 1rem;
  color: #eeecec;
  -webkit-transition: all 1ms ease-in-out;
  transition: all 1ms ease-in-out;
}

.stock-list li:active {
  transform: scale(0.95);
}

.stock-list li .arrow {
  width: 10px;
  margin-right: 5px;
}

.name h2 {
  font-size: 1.1rem;
}

.name span {
  background-color: rgba(255, 255, 255, 0.089);
  padding: 0.4rem;
  border-radius: 10px;
  margin: 5px;
}

.finance-stuff {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-detail {
  padding: 1rem 3rem;
  margin: 0 auto;
  width: 70%;
  color: #eeecec;
}

.hero-detail .hero-content-detail {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-detail .hero-content-detail .hero-img {
  margin: 0;
  height: 200px;
  width: 40%;
}

.detail-name {
  font-size: 1.1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.detail-name span {
  background-color: rgba(255, 255, 255, 0.089);
  padding: 0.4rem;
  border-radius: 10px;
  margin: 5px;
  margin-left: 20px;
}

.detail-hero-finance {
  margin-top: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.detail-hero-finance .changes .arrow {
  margin-right: 7px;
}

.cards-list {
  color: #eeecec;
  margin: 0 20px;
}

.cards-list .card-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.4);
  margin-top: 15px;
  padding: 1rem;
}

.cards-list .card-item .year {
  font-weight: 700;
  font-size: 1.25rem;
}

.no-info {
  color: #eeecec;
  margin: 5rem;
  text-align: center;
  font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background-color: #0c0c0c;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: relative;
}

.App::before {
  content: ' ';
  width: 275px;
  height: 200px;
  background-color: rgba(121, 33, 148, 0.829);
  border-radius: 50%;
  -webkit-filter: blur(150px);
  filter: blur(150px);
  top: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

.App::after {
  content: ' ';
  width: 300px;
  height: 200px;
  background-color: rgba(17, 107, 103, 0.384);
  border-radius: 50%;
  -webkit-filter: blur(110px);
  filter: blur(110px);
  top: 0;
  right: 300px;
  z-index: -1;
  position: absolute;
}

@media (max-width: 440px) {
  .stock-list {
    grid-template-columns: 1fr;
  }

  .cards-list .card-item {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
  }

  .detail-name {
    font-size: 0.7rem;
  }
}
